@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
  font-family: "Rubik", sans-serif;
  background-color: #111010;
}

a {
  height: 1px;
  width: 1px;
  color: #111010;
}

span {
  color: #fff;
}

.my-info {
  width: 100%;
}

.my-img {
  height: 46px;
  width: 46px;
  border-radius: 30px;
  position: relative;
  top: 50px;
  left: 30%;
}

.my-name {
  color: #fff;
  font-size: 18px;
  width: 50px;
  position: relative;
  left: 34.5%;
  bottom: 18px;
}

.my-tag {
  color: #9ca3af;
  font-size: 14px;
  width: 50px;
  position: relative;
  left: 34.5%;
  bottom: 30px;
}

.what-i-make {
  color: #9ca3af;
  font-size: 18px;
  width: 150px;
  position: relative;
  left: 30%;
}

.about-me {
  color: #9ca3af;
  font-size: 18px;
  width: 500px;
  position: relative;
  left: 30%;
  top: 30px;
}

.about-me-2 {
  color: #9ca3af;
  font-size: 18px;
  width: 500px;
  position: relative;
  left: 30%;
  top: 30px;
}

.email {
  height: 35px;
  width: 35px;
  position: relative;
  left: 30%;
  top: 40px;
}

.github {
  height: 35px;
  width: 35px;
  position: relative;
  left: 31%;
  top: 40px;
}

.discord {
  height: 35px;
  width: 35px;
  position: relative;
  left: 32%;
  top: 40px;
}

.projects {
  color: #9ca3af;
  font-size: 18px;
  width: 100px;
  position: relative;
  left: 30%;
  top: 60px;
}

.project-1 {
  height: 140px;
  width: 290px;
  background-color: #1d1b1b;
  position: relative;
  left: 30%;
  top: 80px;
  padding: 14px;
  border-radius: 18px;
  transition: transform 0.3s ease;
}

.project-name {
  color: #9ca3af;
  font-size: 18px;
}

.project-about {
  color: #9ca3af;
  font-size: 16px;
}

.project-2 {
  height: 140px;
  width: 290px;
  background-color: #1d1b1b;
  position: relative;
  left: 55%;
  bottom: 89px;
  padding: 14px;
  border-radius: 18px;
  transition: transform 0.3s ease;
}

.project-name {
  color: #9ca3af;
  font-size: 18px;
}

.project-about {
  color: #9ca3af;
  font-size: 16px;
}

.project-1:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.project-2:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.ending {
  position: relative;
  color: #fff;
  left: 30%;
  width: 250px;
  height: 10px;
  bottom: 50px;
}
